.countdown {
	color:#FFF;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	text-shadow:0 0 30px -4px #000;
	font-size:60vh;
	animation:countdown 1s linear;
}

@keyframes countdown {
	to {
		font-size:0;
		opacity:0;
	}
}