body {
  margin:0;
  min-height:100vh;
  font-family:Roboto,Helvetica,Arial,Sans-serif;
  overflow:hidden;
}
.video_wrapper,.video_wrapper video,.overlay,.flash,.snapshot {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.video_wrapper {
  overflow:hidden;
}
.overlay {
  background-color:rgba(0,0,0,.5);
  display:flex;
  align-items:center;
  justify-content:center;
}
.overlay .content {
  box-shadow:0 0 30px -4px #000;
  border-radius:3px;
  text-align:center;
}
.overlay h3 {
  margin:0;
}
.content {
  background-color:#FFF;
  padding:30px;
}
.button {
  background-color:#0F9D58;
  color:#FFF;
  padding:8px 14px;
  cursor:pointer;
}
.hide {
  display:none;
}
.flash {
  background-color:#FFF;
  animation:flash .5s linear;
  opacity:0;
}
.snapshot {
  padding:50px;
  animation:snapshot 3s linear;
  transform-origin:top left;
  opacity:0;
}
.snapshot img {
  border:10px solid #FFF;
  width:100%;
}

@keyframes snapshot {
  0% {
    transform:scale(1);
    opacity:1;
  }
  80% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}

@keyframes flash {
  0% {
    opacity:0;
  }
  10% {
    opacity:.8;
  }
  100% {
    opacity:0;
  }
}